/*/ Base styling for the message container /*/
.temp-message {
    position: fixed;
    top: 20px;
    right: 20px;
    max-width: 700px;
    margin: 0;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 9999;
}

.temp-message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.temp-message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.temp-message.info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}

/*/ Close button styling /*/
.close-btn {
    cursor: pointer;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    color: inherit;
    font-weight: bold;
}

/*kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk*/
